.checkbox-box {
  display: grid;
  align-content: center;
  justify-items: stretch;
  width: stretch;
  grid-template-columns: 1fr 1fr;
}

.checkbox-box * {
  height: min-content;
}

.checkbox-box .checkbox-wrapper {
  display: flex;
  margin: 5px;
}

.checkbox-box .checkbox-wrapper label {
  vertical-align: top;
}

.checkbox-box .checkbox-wrapper input[type=checkbox] {
  color: #8865ac ;
  vertical-align: top;
  width: min-content;
  height: min-content;
  margin: 10px;
  margin-top: 2px;
  flex-wrap: wrap;
}

@media (prefers-color-scheme: dark) {
  .checkbox-box .checkbox-wrapper input[type=checkbox] {
    color: #8865ac ;
  }
}

.checkbox-box .checkbox-wrapper input[type=checkbox]:focus-visible, .checkbox-box .checkbox-wrapper input[type=checkbox]:focus {
  outline: auto;
}

@media (min-width: 640px) {
  .checkbox-box .checkbox-wrapper input[type=checkbox] {
    margin: 2.5px;
    flex-wrap: nowrap;
  }
}

.checkbox-box .checkbox-wrapper input[type=checkbox][checked] {
  display: grid;
  place-items: center;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.vertical .checkbox-wrapper:nth-child(2n) {
  flex-basis: 100%;
  width: 0;
}
