.form-page-body {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1000;
  height: 100vh;
  width: 100vw;
}

.ReactModalPortal {
  width: 100vw;
  height: 100vh;
}
.ReactModalPortal .overlay {
  overflow-y: auto;
  position: fixed;
  inset: 0px;
  background-color: #4f4f4f ;
}
@media (prefers-color-scheme: dark) {
  .ReactModalPortal .overlay {
    background-color: #4f4f4f ;
  }
}
@media (min-width: 50em) {
  .ReactModalPortal .overlay {
    display: grid;
    place-items: center;
  }
}
.ReactModalPortal .overlay .modal {
  background-color: #000505 ;
  border-radius: 30px;
  padding: 25px 0px;
  z-index: -1;
  overflow-x: hidden;
  min-width: 60vw;
  background-color: #ffffff ;
}
.ReactModalPortal .overlay .modal h2 {
  font-size: 17px;
}
@media (prefers-color-scheme: dark) {
  .ReactModalPortal .overlay .modal {
    background-color: #000505 ;
  }
}
@media (prefers-color-scheme: dark) {
  .ReactModalPortal .overlay .modal {
    background-color: #ffffff ;
  }
}
.ReactModalPortal .overlay .modal:focus-visible {
  outline: none;
}
.ReactModalPortal .overlay .modal .form-modal {
  align-content: space-between;
  height: stretch;
  padding: 0px 20px;
}
.ReactModalPortal .overlay .modal .form-modal::-webkit-scrollbar {
  width: 5px;
  margin-right: 2px;
}
.ReactModalPortal .overlay .modal .form-modal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.ReactModalPortal .overlay .modal .form-modal::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: darkgrey;
}
.ReactModalPortal .overlay .modal .form-modal hr {
  color: #8865ac ;
  border-style: solid;
  border-width: 2px;
}
@media (prefers-color-scheme: dark) {
  .ReactModalPortal .overlay .modal .form-modal hr {
    color: #8865ac ;
  }
}
.ReactModalPortal .overlay .modal .form-modal .modal-title {
  position: sticky;
  top: 0px;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: #ffffff ;
}
@media (prefers-color-scheme: dark) {
  .ReactModalPortal .overlay .modal .form-modal .modal-title {
    background-color: #ffffff ;
  }
}
.ReactModalPortal .overlay .modal .form-modal .modal-title .RSPBprogressBar {
  margin: 10px;
  background-color: #b5b5b5 ;
  height: 5px;
}
@media (prefers-color-scheme: dark) {
  .ReactModalPortal .overlay .modal .form-modal .modal-title .RSPBprogressBar {
    background-color: #b5b5b5 ;
  }
}
@media (min-width: 50em) {
  .ReactModalPortal .overlay .modal .form-modal .modal-title .RSPBprogressBar {
    height: 10px;
  }
}
.ReactModalPortal .overlay .modal .form-modal .modal-title .RSPBprogressBar .RSPBstep .step-container {
  width: 20px;
  height: 20px;
}
@media (min-width: 50em) {
  .ReactModalPortal .overlay .modal .form-modal .modal-title .RSPBprogressBar .RSPBstep .step-container {
    width: 40px;
    height: 40px;
  }
}
.ReactModalPortal .overlay .modal .form-modal .modal-title .RSPBprogressBar .RSPBstep .step-container svg {
  height: inherit;
  width: inherit;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
}
.ReactModalPortal .overlay .modal .form-modal .modal-title .RSPBprogressBar .RSPBstep .step-container svg ellipse {
  fill: #ffffff ;
  cx: 10px;
  cy: 10px;
  rx: 7px;
  ry: 7px;
  stroke-width: 5px;
}
@media (prefers-color-scheme: dark) {
  .ReactModalPortal .overlay .modal .form-modal .modal-title .RSPBprogressBar .RSPBstep .step-container svg ellipse {
    fill: #ffffff ;
  }
}
@media (min-width: 50em) {
  .ReactModalPortal .overlay .modal .form-modal .modal-title .RSPBprogressBar .RSPBstep .step-container svg ellipse {
    cx: 20px;
    cy: 20px;
    rx: 15px;
    ry: 15px;
  }
}
.ReactModalPortal .overlay .modal .form-modal .modal-title .RSPBprogressBar .RSPBstep .step-container svg .accomplished {
  stroke: #8865ac ;
}
@media (prefers-color-scheme: dark) {
  .ReactModalPortal .overlay .modal .form-modal .modal-title .RSPBprogressBar .RSPBstep .step-container svg .accomplished {
    stroke: #8865ac ;
  }
}
.ReactModalPortal .overlay .modal .form-modal .modal-title .RSPBprogressBar .RSPBstep .step-container svg .todo {
  stroke: #b5b5b5 ;
}
@media (prefers-color-scheme: dark) {
  .ReactModalPortal .overlay .modal .form-modal .modal-title .RSPBprogressBar .RSPBstep .step-container svg .todo {
    stroke: #b5b5b5 ;
  }
}
.ReactModalPortal .overlay .modal .form-modal .modal-title .RSPBprogressBar .RSPBstep .step-container .label {
  display: none;
}
@media (min-width: 50em) {
  .ReactModalPortal .overlay .modal .form-modal .modal-title .RSPBprogressBar .RSPBstep .step-container .label {
    color: #000505 ;
    position: absolute;
    display: grid;
    align-items: center;
    width: inherit;
    height: inherit;
    text-align: center;
  }
}
@media (min-width: 50em) and (prefers-color-scheme: dark) {
  .ReactModalPortal .overlay .modal .form-modal .modal-title .RSPBprogressBar .RSPBstep .step-container .label {
    color: #000505 ;
  }
}
.ReactModalPortal .overlay .modal .form-modal .modal-title .RSPBprogressBar .RSPBprogression {
  background-color: #8865ac ;
}
@media (prefers-color-scheme: dark) {
  .ReactModalPortal .overlay .modal .form-modal .modal-title .RSPBprogressBar .RSPBprogression {
    background-color: #8865ac ;
  }
}
.ReactModalPortal .overlay .modal .form-modal .form-bottom {
  padding-top: 20px;
  display: grid;
  width: stretch;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  align-content: space-between;
}
.ReactModalPortal .overlay .modal .form-modal .form-content {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}
.ReactModalPortal .overlay .modal .form-modal .form-content .form-section {
  display: flex;
  flex-direction: column;
  width: stretch;
  max-width: 100vw;
}
.ReactModalPortal .overlay .modal .form-modal .form-content .form-section .section-title {
  width: inherit;
}
.ReactModalPortal .overlay .modal .form-modal .form-content .form-section .section-inputs {
  flex-direction: row;
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .ReactModalPortal .overlay .modal .form-modal .form-content .form-section .section-inputs {
    flex-wrap: nowrap;
  }
}
.ReactModalPortal .overlay .modal .form-modal .form-content .active {
  width: stretch;
  transform: translateX(0%);
  left: 0;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.ReactModalPortal .overlay .modal .form-modal .form-content .prev {
  width: stretch;
  position: absolute;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.ReactModalPortal .overlay .modal .form-modal .form-content .prev * {
  transition-delay: 0.25s;
  display: none;
}
.ReactModalPortal .overlay .modal .form-modal .form-content .next {
  width: stretch;
  position: absolute;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.ReactModalPortal .overlay .modal .form-modal .form-content .next * {
  transition-delay: 0.25s;
  display: none;
}
.ReactModalPortal .overlay .modal .form-modal .form-content .ghost {
  display: none;
}
@keyframes slideOutLeft {
  100% {
    transform: translateX(-1000%);
  }
}