.input-wrapper {
  width: stretch;
}

.input-wrapper input, .input-wrapper select, .input-wrapper textarea {
  width: stretch;
  background-color: none;
  height: 1.5rem;
  border-radius: 5px;
  border-color: #cacaca ;
  color: black;
  border-width: 1px;
  border-style: solid;
}

@media (prefers-color-scheme: dark) {
  .input-wrapper input, .input-wrapper select, .input-wrapper textarea {
    border-color: #cacaca ;
  }
}

.input-wrapper input:focus-visible, .input-wrapper input:focus, .input-wrapper select:focus-visible, .input-wrapper select:focus, .input-wrapper textarea:focus-visible, .input-wrapper textarea:focus {
  transition: all .2s ease-in;
  border-color: #8865ac ;
  outline: initial;
  outline-offset: 2px;
}

@media (prefers-color-scheme: dark) {
  .input-wrapper input:focus-visible, .input-wrapper input:focus, .input-wrapper select:focus-visible, .input-wrapper select:focus, .input-wrapper textarea:focus-visible, .input-wrapper textarea:focus {
    border-color: #8865ac ;
  }
}

.input-wrapper textarea {
  min-height: 4rem;
}

.input-wrapper input[type=radio] {
  height: initial;
  width: min-content;
}

.input-wrapper .input-label {
  color: black;
}

.input-wrapper .error {
  background-color: #ff00002e;
}

.input-wrapper .input-error {
  display: block;
  font-size: 13px;
  color: red;
  height: 13px;
}
