.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.nav .top {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-left: 0px;
  margin-top: 0px;
}

.theme--light .nav {
  background: white;
}

.theme--dark .nav {
  background: black;
}

.nav .content {
  width: 980px;
  max-width: 950px;
  display: flex;
  padding-bottom: 5px;
}

.nav .content .logo-link .logo {
  font-size: 32px;
  height: 100px;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
}

.nav .content .menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 11px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2.1rem;
  align-items: end;
}

.nav .content .menu li .options {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav .content .menu li .options.underline {
  transition: all 0.2s ease-in-out;
  position: relative;
}

.theme--light .nav .content .menu li .options.underline {
  color: black;
}

.theme--dark .nav .content .menu li .options.underline {
  color: white;
}

.nav .content .menu li .options.underline:before, .nav .content .menu li .options.underline:after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0px;
  height: 5px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 0;
}

.theme--light .nav .content .menu li .options.underline:before, .theme--light .nav .content .menu li .options.underline:after {
  background: black;
}

.theme--dark .nav .content .menu li .options.underline:before, .theme--dark .nav .content .menu li .options.underline:after {
  background: white;
}

.nav .content .menu li .options.underline:before {
  left: 50%;
}

.nav .content .menu li .options.underline:after {
  right: 50%;
}

.nav .content .menu li .options.underline:hover {
  cursor: pointer;
}

.nav .content .menu li .options.underline:hover:before, .nav .content .menu li .options.underline:hover:after {
  width: 50%;
  opacity: 1;
}

.nav .content .menu li .options.button {
  border-radius: 5px;
}

.theme--light .nav .content .menu li .options.button {
  color: white;
  background: #97bef1;
}

.theme--dark .nav .content .menu li .options.button {
  color: black;
  background: #2ea9fc;
}

.nav .content .menu li .options.button :hover {
  transition: all 0.2s ease-out;
}

.theme--light .nav .content .menu li .options.button :hover {
  background: #2ea9fc;
}

.theme--dark .nav .content .menu li .options.button :hover {
  background: #2ea9fc;
}

.nav .content .collapse-icon {
  display: none;
}

@media screen and (max-width: 950px) {
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
  .nav .top {
    position: relative;
  }
  .theme--light .nav {
    background: white;
  }
  .theme--dark .nav {
    background: black;
  }
  .nav .content {
    width: 980px;
    max-width: 950px;
    display: flex;
    padding-bottom: 5px;
  }
  .nav .content .logo-link .logo {
    font-size: 32px;
    height: 100px;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
  }
  .nav .content .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -500px;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    margin: 0px;
    padding: 0px;
  }
  .nav .content .menu.active {
    background: #00e361;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav .content .menu li .options {
    text-decoration: none;
  }
  .nav .content .menu li .options.underline {
    transition: all 0.2s ease-in-out;
    position: relative;
  }
  .theme--light .nav .content .menu li .options.underline {
    color: black;
  }
  .theme--dark .nav .content .menu li .options.underline {
    color: white;
  }
  .nav .content .menu li .options.underline:before, .nav .content .menu li .options.underline:after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0px;
    height: 5px;
    margin: 5px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.75s;
    opacity: 0;
  }
  .theme--light .nav .content .menu li .options.underline:before, .theme--light .nav .content .menu li .options.underline:after {
    background: black;
  }
  .theme--dark .nav .content .menu li .options.underline:before, .theme--dark .nav .content .menu li .options.underline:after {
    background: white;
  }
  .nav .content .menu li .options.underline:before {
    left: 50%;
  }
  .nav .content .menu li .options.underline:after {
    right: 50%;
  }
  .nav .content .menu li .options.underline:hover {
    cursor: pointer;
  }
  .nav .content .menu li .options.underline:hover:before, .nav .content .menu li .options.underline:hover:after {
    width: 50%;
    opacity: 1;
  }
  .nav .content .menu li .options.button {
    border-radius: 5px;
  }
  .theme--light .nav .content .menu li .options.button {
    color: white;
    background: #97bef1;
  }
  .theme--dark .nav .content .menu li .options.button {
    color: black;
    background: #2ea9fc;
  }
  .nav .content .menu li .options.button :hover {
    transition: all 0.2s ease-out;
  }
  .theme--light .nav .content .menu li .options.button :hover {
    background: #2ea9fc;
  }
  .theme--dark .nav .content .menu li .options.button :hover {
    background: #2ea9fc;
  }
  .nav .content .collapse-icon {
    position: absolute;
    right: 0;
    padding: 15px;
    font-size: 30px;
    display: block;
  }
}
