.radio-box {
  display: flex;
  align-content: center;
  justify-content: space-around;
  width: stretch;
}

.radio-box * {
  height: min-content;
}

.radio-box label input[type=radio] {
  color: blue;
  width: min-content;
  margin: 2.5px;
}

.radio-box label input[type=radio]:focus-visible, .radio-box label input[type=radio]:focus {
  outline: auto;
}

.radio-box label input[type=text] {
  width: min-content;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}
