.radio-box {
  display: flex;
  align-content: center;
  justify-content: space-around;
  width: stretch;
  flex-direction: column;
  flex-wrap: wrap;
}

.radio-box * {
  height: min-content;
}

@media (min-width: 640px) {
  .radio-box {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.radio-box .radio-wrapper {
  display: flex;
  margin-right: 3px;
}

.radio-box input[type=radio] {
  color: #8865ac ;
  display: flex;
  width: min-content;
  margin: 2.5px;
  flex-wrap: wrap;
}

@media (prefers-color-scheme: dark) {
  .radio-box input[type=radio] {
    color: #8865ac ;
  }
}

.radio-box input[type=radio]:focus-visible, .radio-box input[type=radio]:focus {
  outline: auto;
}

@media (min-width: 640px) {
  .radio-box input[type=radio] {
    flex-wrap: nowrap;
  }
}

.radio-box input[type=radio][checked] {
/*   display: grid; */
  place-items: center;
}

.radio-box input[type=radio] input[type=text] {
  width: min-content;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}
